<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>New Investment</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
				<h1 class="text-center" id="title" name="title">New Investments</h1>
				<div class="card-body">
					<form th:action="@{/investments/}" th:object="${investment}" method="POST">
						<div class="form-group">
							<label for="inputToken">Token</label>
							<input type="text" name="inputToken" id="inputToken" th:field="*{token}"
								class="form-control" placeholder="Tkn"></input>
						</div>

						<div class="form-group">
							<label for="inputName">Name</label>
							<input type="text" name="inputName" id="inputName" th:field="*{name}" class="form-control"
								placeholder="Name"></input>
						</div>
						<div class="form-group">
							<label for="inputQty">Qty</label>
							<input type="number" step="0.01" name="inputQty" id="inputQty" th:field="*{qty}"
								class="form-control" placeholder="Qty"></input>
						</div>
						<div class="form-group">
							<label for="inputPrice">Price</label>
							<input type="number" step="0.01" name="inputPrice" id="inputPrice" th:field="*{price}"
								class="form-control" placeholder="Purchased price"></input>
						</div>
						<div class="form-group">
							<label for="inputPurchasedDate">Purchased date</label>
							<input type="date" name="inputPurchasedDate" id="inputPurchasedDate"
								th:field="*{purchasedDate}" class="form-control" placeholder="Purchased Date"></input>
						</div>
						<div class="form-group py-2">
							<label for="selectCategory">Category</label>
							<select name="selectCategory" id="selectCategory" th:field="*{category}">
								<option value="fiat">FIAT</option>
								<option value="crypto">CRYPTO</option>
							</select>
						</div>
						<div class="form-group">
							<label for="inputType">Type</label>
							<input type="text" name="inputType" id="inputType" th:field="*{type}" class="form-control"
								placeholder="cash/stable/non-stable"></input>
						</div>
						
						<div class="form-group">
							<label for="inputCurrency">Currency</label>
							<input type="text" name="inputCurrency" id="inputCurrency" th:field="*{currency}" class="form-control"
								placeholder="ars/usd/gbp/euro"></input>
						</div>
						
						
						<div class="row box-footer pt-4">
							<button class="btn btn-outline-primary">Save</button>
							<a th:href="@{/investments/}" class="btn btn-outline-dark mt-2 ">Cancel</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>